<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Students Details</title>
</head>
<body>
    <center>
        <h1>Edit and Update the Student Details</h1>
        <hr/>
        <form method='POST' action='/update/{{Hrproject.id}}'>
            {% csrf_token %}
        <table border="1">
            <tr>
                <td>Id</td>
                <td><input type ="text" name="id" value="{{Hrproject.id}}" readonly></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type ="text" name="fullname" value="{{Hrproject.fullname}}"></td>
            </tr>
            <tr>
                <td>Number<td>
                <input type ="text"name="number" value="{{Hrproject.number}}">
            </tr>
            <tr>
                <td>Email<td>
                <input type ="text" name="email" value="{{Hrproject.email}}">
            </tr>
            <tr>
                <td>Password1</td>
                <td><input type ="text" name="skills" value="{{Hrproject.skills}}"></td>
            </tr>
        <tr>
            <td>Image<td>
            <input type ="file" name="img" value="{{Hrproject.img}}">
        </tr>
        <tr>
            <td>Verified<td>
            <input type ="text" name="verified" value="{{Hrproject.verified}}" readonly>
            </tr>
        </table>
        <input type="submit" value="update"/> | <a href="{% url 'profile2' %}">Back To Home Page</a>
        {% if messages %}
        {% for updaterecord in messages %}

        <h3 style="color:cadetblue;">{{updaterecord}}</h3>

        {% endfor %}
        {% endif %}
        </form>
    </center>
</body>
</html>