
 <!-- {% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/static/maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="/static/code.jquery.com/jquery-1.11.1.min.js"></script> 

 <head>
<body>
  {% if messages %}
	{% for message in messages %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <strong>Congratulations!!</strong> You already Registered,Please sing in
	</div>
	{% endfor %}
	{% endif %} -->
<!-- <center
<div class="login-container">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 login-box">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div class="wrapper fadeInDown">
  <div id="formContent"> -->
    <!-- Tabs Titles -->

    
     <!-- <div class="fadeIn first" >
      <img src="/static/images/work.png" alt="" width="200" height="100">
     
    </div>

  
   <form>
      <input type="text" id="login" class="fadeIn second" name="user" placeholder="username">

      <br>
      <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">

      <br>

      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>


    <div id="formFooter">
      <a class="underlineHover" href="#">Go to the Site</a>
    </div>

  </div>
</div>
</center>
<body>
</head> -->
